services:
  traq-ing-client:
    container_name: traq-ing-client
    build:
      context: .
      dockerfile: client.Dockerfile
    restart: always
    networks:
      - traq-ing-network
    ports:
      - '9000:80'
  traq-ing-server:
    container_name: traq-ing-server
    build:
      context: .
      dockerfile: server.Dockerfile
    restart: always
    networks:
      - traq-ing-network
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    environment:
      - TRAQ_TOKEN={{ traq_ing_traq_token }}
      - TRAQ_AUTH_CLIENT_ID={{ traq_ing_traq_auth_client_id }}
      - DATABASE_URL=postgressql://{{ traq_ing_db_user }}:{{ traq_ing_db_password }}@host.docker.internal:5432/{{ traq_ing_db_name }}
    logging:
      driver: loki
      options:
        loki-url: 'https://{{ grafana_loki_username }}:{{ grafana_cloud_api_key }}@{{ grafana_loki_domain }}/loki/api/v1/push'
        loki-external-labels: "job=traq-ing"
        mode: "non-blocking"
        max-size: "20m"
        max-file: "5"
  
networks:
  traq-ing-network:
